<form action="/generateIO" class="form-group" method="POST">
    <label for="#1">Hashtag : 1</label>
    <input type="text" name="hashtag_1" class="form-control" placeholder="don't add # (SpaceX)" required>
    <br>
    <label for="#2">Hashtag : 2</label>
    <input type="text" name="hashtag_2" class="form-control" placeholder="don't add # (SpaceX)"  required>
    <br>
    <label for="#3">Hashtag : 3</label>
    <input type="text" name="hashtag_3"class="form-control" placeholder="don't add # (SpaceX)" required>
    <br>
    <label for="#4">Hashtag : 4</label>
    <input type="text" name="hashtag_4" class="form-control" placeholder="don't add # (SpaceX)"  required>
    <br>
    <label for="#5">Hashtag : 4</label>
    <input type="text" name="hashtag_5" class="form-control" placeholder="don't add # (SpaceX)"  required>
    <br>
    <input type="submit" class="btn btn-success" value="Enter">
</form>
