<%- include('include/header') %>
    <div class="container mt-5">
        <h1 align="center">Virtual Run</h1>
        <br>
        <a class="btn btn-secondary" href="/add">Add Runner</a>
        <a href="/show_userWin" class="btn btn-warning">Show User Winner</a>
        <a href="/show_userTopTen" class="btn btn-primary">Show Top-Ten User</a>
        <a href="/add_distance" class="btn btn-success">Add Distance</a>
    </div>
<%- include('include/footer') %>
