<%- include('include/header') %>
    <div class="container mt-5">
        <h1 align="center">ADD Hashtags</h1>
        <h3><%=message%></h3>
      <%- include('include/form') %>
    </div>
<%- include('include/footer') %>
