<%- include('include/header') %>
<body>
    <div class="container mt-5">
        <h1>Add University</h1>
        <form action="/add_university" method="post" class="form-group">
            <label for="">Name</label>
            <input type="text" name="name" class="form-control">
             <br>
            <input type="submit" value="Enter" class="btn btn-success">
        </form>
    </div>
</body>

<%- include('include/footer') %>